!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %h1 Hello #{@user.name}!
    %p
      View your newest bookmark here: #{@url}
    %p
      Enjoy your reading material.

