.jumbotron
  .container
    %h1 Welcome to Reading List
    %p Don't have time to read everything in one sitting? No problem! Reading List allows you to save pages to read later.
    %p=link_to "Sign up", '#', class: 'btn btn-primary btn-lg'

.container
  .row
    .col-md-4
      %h2 Database Driven
      %p Save all of your favorites sites to our super duper database and retrieve them anytime you want.
    .col-md-4
      %h2 See All, Know All
      %p Can't remember if you added something already? View your entire reading list on one page with easy to access topics and their bookmarks.
    .col-md-4
      %h2 Like and Unlike
      %p When your done reading something you can easily "like" it for rereading or "unlike" it to remove it from your list.
  .row
    .footer
      %p &copy; Reading List 2015